@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  min-width: 32.7rem;
}

body {
  font-family: poppins, Helvetica, Arial, sans-serif;
  background-color: #1c1a19;
}

/* General Styles End */

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #3c3a39;
}

.logo {
  text-decoration: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #fff;
  animation-name: changecolors;
  animation-duration: 10s;
}

.menu-icon {
  color: #fff;
}

.desktop-menu {
  display: none;
}

/* Header Styling End */

/* Showcase Section Styling */

.main {
  background-color: #fff;
}

.showcase-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  padding-block-start: 12rem;
  background-image: url(./img/headline-illustration.png);
  background-position: 100% 90%;
  background-repeat: no-repeat;
}

.showcase-title {
  margin: 1.2rem;
  font-family: Crete Round, sans-serif, Helvetica;
  font-size: 5.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 6.4rem;
  color: #ff6b00;
  letter-spacing: 0.37px;
}

.showcase-container h2 {
  font-family: Roboto, sans-serif, Helvetica;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 3.2rem;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin: 1.2rem;
}

.showcase-container p {
  font-family: Poppins, sans-serif, Helvetica;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 1.2rem;
}

.social-icons {
  list-style: none;
  display: flex;
  margin-left: 1.2rem;
  width: 55%;
}

.social-icon i {
  color: #fff;
  margin-right: 2rem;
  font-size: 2.5rem;
}

/* Showcase Section Styling End */

/* Recent Works Section Styling */

.my-recent-works {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 2.4rem;
  background-color: #fff;
}

.recent-works-heading {
  display: grid;
  grid-template-columns: auto;
}

.recent-works-title {
  align-items: center;
  font-family: Crete Round, helvetical, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  color: #1c1a19;
  line-height: 5.2rem;
  margin-block-start: 12rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.header-underline {
  border: 1px solid #212121;
  margin-block-start: 1rem;
}

.my-projects {
  padding: 2.4rem;
  margin: 0 auto;
}

.my-projects li {
  list-style-type: none;
}

.multipost-stories img {
  width: 100%;
}

.multipost-stories {
  display: flex;
  flex-direction: column;
}

.multipost-stories h3 {
  display: flex;
  align-items: center;
  margin: 2.4rem;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.4rem;
  color: #091e42;
}

.multipost-stories p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  color: #091e42;
}

.automation {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.2rem;
  padding: 1.2rem 0;
}

.automation li {
  background: rgba(255, 255, 255, 0.24);
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  height: 4rem;
  padding: 1rem 1.2rem;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.css {
  float: right;
}

.btn {
  border: none;
  align-self: flex-start;
  background: #ff6b00;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 700;
  padding: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2.4rem;
  color: black;
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("img/papd-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2.4rem;
}

.btn:enabled {
  background: #f55800;
  color: #fff;
  box-sizing: border-box;
}

.btn:hover {
  background: #fff5e1;
  color: #f55800;
  box-sizing: border-box;
}

.btn:active {
  background: #e05304;
  color: #f4f1f0;
  box-sizing: border-box;
}

.btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
  box-sizing: border-box;
}

.project button {
  margin: 0;
  height: 48px;
  width: 100%;
  color: #fff;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

.project h3 {
  color: #fff;
  font-family: 'Crete Round', helvetica, sans-serif;
  margin-block-start: 8.4rem;
  margin-left: 1.6rem;
  margin-inline-end: 1.6rem;
  margin-block-end: 1.2rem;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.project p {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-family: Inter, arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
}

.build-with {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.2rem;
  padding: 1.2rem 0;
  margin-left: 1.6rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.build-with li {
  background: rgba(255, 255, 255, 0.24);
  box-sizing: border-box;
  height: 4rem;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
}

/* Works Section Styling End */

/* About Me Section Styling */

.about {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}

.about button {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  margin: 24px;
  margin-block-end: 209px;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-image: url("./img/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: right 0 top 38.5rem;
  margin-block-end: 2.9rem;
}

.about-me h2 {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 8.8rem;
  margin-block-start: 12rem;
  margin-inline-start: 2.4rem;
  margin-inline-end: 2.4rem;
  color: #ff6b00;
}

.about-me p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  color: #f4f5f7;
}

.about hr {
  border: 1px solid #fff;
  width: 32.7rem;
  margin: 0 auto;
}

.qualifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 13.6rem;
  color: #fff;
}

.qualifications-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: InaiMathi, Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin: 2.2rem;
}

.qualifications-title img {
  margin: 1.2rem;
}

.qualifications ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualifications li {
  list-style-type: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 4.3rem;
  margin: 0.8rem;
}

/* Contact Form */

.contact-form {
  display: flex;
  background-color: #fff;
  padding: 24px;
  flex-direction: column;
}

.contact-form-title {
  margin: 120px 0 73px 0;
  font-family: Inter, sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 4.4rem;
  color: #172b4d;
}

.contact-inputs {
  border-bottom: 1px solid #dbd8d7;
}

.contact-inputs input {
  border: none;
  width: 100%;
  margin-top: 3.9rem;
  padding: 0 1.6rem;
}

.contact-message {
  border: none;
  width: 100%;
  height: 11.4rem;
  margin-block-start: 2.4rem;
  padding: 1.2rem;
  background-color: #fbf8f7;
}

.contact-message::placeholder {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #3c3a39;
}

.form-submit-button {
  text-align: center;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  padding-block-start: 25px;
}

.footer-social-icons i {
  color: #505f79;
}

.footer-hr {
  background: #0d151e;
  width: 13.4rem;
  height: 0.5rem;
  margin: 2.3rem auto 0.8rem auto;
  margin-bottom: 0.8rem;
  border-radius: 1rem;
}

/* Media Queries */

@media (min-width: 992px) {
  .header {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 2rem 10%;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    font-size: 2rem;
    transition-property: font-size;
    transition-duration: 1.5s;
    transition-delay: 0.2s;
  }

  .logo:hover {
    font-size: 4rem;
  }

  .desktop-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }

  .desktop-menu ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 3.2rem;
    width: 50%;
  }

  .desktop-menu a {
    text-decoration: none;
    color: #fff;
  }

  .showcase-section {
    display: flex;
    flex-direction: row;
    padding-block-start: 0;
    background-image: url(./img/Illustration-header.png);
    background-size: 40%;
    height: 79.8rem;
  }

  .showcase-container {
    padding-block-start: 19.2rem;
    margin-inline-start: 4rem;
    max-width: 56.6rem;
  }

  .showcase-title {
    font-size: 7.2rem;
    line-height: 8rem;
    font-weight: 400;
  }

  .showcase h2 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.4rem;
  }

  .showcase-container p {
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 400;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: -1;
    margin: 3.6rem;
    width: auto;
  }

  .social-icons li {
    margin: 0.5rem 0;
  }

  .my-recent-works {
    padding-inline-start: 14.1rem;
    padding-inline-end: 14.3rem;
  }

  .recent-works-heading {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-block-start: 13.5rem;
  }

  .recent-works-title {
    margin: 0 auto;
  }

  .multipost-stories {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2rem;
  }

  .multipost-stories h3 {
    margin: 0;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.4rem;
    margin-bottom: 10rem;
  }

  .project {
    height: 43.5rem;
    width: auto;
    justify-content: flex-end;
    margin-block-end: 3.7rem;
  }

  .project-1 {
    background-image: url(./img/project-1.png);
  }

  .project-1 h3,
  .project-1 p,
  .project-1 ul {
    display: none;
  }

  .project-2 button,
  .project-3 button,
  .project-4 button,
  .project-5 button,
  .project-6 button {
    display: none;
  }

  .project-2 {
    background-image: url("./img/project-2.png");
  }

  .project-3 {
    background-image: url("./img/project-3.png");
  }

  .project-4 {
    background-image: url("./img/project-4.png");
  }

  .project-5 {
    background-image: url("./img/project-5.png");
  }

  .project-6 {
    background-image: url("./img/project-6.png");
  }

  .about-me {
    display: flex;
    flex-direction: column;
    background-image: url("./img/illustration-aboutme.png");
    background-size: 672.39px 352.38px;
    background-repeat: no-repeat;
    background-position: center right;
    margin-block-end: 2.9rem;
  }

  .about {
    padding: 0 10rem;
  }

  .about-me p {
    text-align: left;
    font-size: 2rem;
    max-width: 56.6rem;
    line-height: 3.2rem;
  }

  .about hr {
    width: 100%;
  }

  .qualifications {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    margin-block-end: 14.2rem;
  }

  .qualifications-title {
    justify-content: flex-start;
    margin: 0 0 4.4rem 0;
    font-size: 3.2rem;
  }

  .qualifications-title img {
    margin: 1rem;
  }

  .qualifications ul {
    align-items: baseline;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 2.4rem;
    align-items: baseline;
    padding: 13rem 10rem;
  }

  .contact-form-title {
    margin: 0;
    text-align: left;
    line-height: 5.2rem;
    font-size: 4rem;
    font-weight: 700;
    max-width: 45.5rem;
  }

  .form-submit-button {
    text-align: left;
  }

  footer {
    padding-block-start: 2.6rem;
    padding-block-end: 2.8rem;
  }

  .footer-hr {
    display: none;
  }
}

@media (min-width: 1440px) {
  .showcase-section {
    background-image: url(img/Illustration-header.png);
    flex-direction: row;
    height: 79.8rem;
    padding-block-start: 0;
  }

  .my-recent-works {
    padding: 0 14.1rem;
  }

  .multipost-stories {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 2.4rem;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 2.4rem;
    padding: 13rem 13.5rem;
  }

  .contact-form-title {
    text-align: left;
    font-size: 4rem;
    line-height: 5rem;
    margin: 0;
    max-width: 45.5rem;
  }

  .footer-hr {
    display: none;
  }
}

@media (min-width: 1308px) {
  .about {
    background-image: url("img/illustration-aboutme.png");
    background-size: 67.239rem 35.238rem;
    background-position: top right;
    background-position-y: 9.948rem;
    background-repeat: no-repeat;
    padding: 0 14.1rem;
  }

  .about-me {
    background-image: none;
  }
}

@keyframes changecolors {
  0% {
    color: rgb(109, 25, 25);
  }

  10% {
    color: rgb(209, 167, 90);
  }

  25% {
    color: rgb(163, 44, 20);
  }

  40% {
    color: orange;
  }

  55% {
    color: rgb(132, 46, 31);
  }

  70% {
    color: rgb(209, 59, 59);
  }

  85% {
    color: rgb(134, 32, 49);
  }

  100% {
    color: #ff6b00;
  }
}
