@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  min-width: 32.7rem;
}

body {
  font-family: poppins, Helvetica, Arial, sans-serif;
  background-color: #1c1a19;
}

/* General Styles End */

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #3c3a39;
}

.logo {
  text-decoration: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #fff;
}

.menu-icon {
  color: #fff;
}

/* Header Styling End */

/* Showcase Section Styling */

.main {
  background-color: #fff;
}

.showcase-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  padding-block-start: 12rem;
  background-image: url(./images/headline-illustration.png);
  background-position: 100% 112%;
  background-repeat: no-repeat;
}

.showcase-title {
  margin: 1.2rem;
  font-family: Crete Round, sans-serif, Helvetica;
  font-size: 5.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 6.4rem;
  color: #ff6b00;
  letter-spacing: 0.37px;
}

.showcase-container h2 {
  font-family: Roboto, sans-serif, Helvetica;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 3.2rem;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin: 1.2rem;
}

.showcase-container p {
  font-family: Poppins, sans-serif, Helvetica;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 1.2rem;
}

.social-icons {
  list-style: none;
  display: flex;
  margin-left: 1.2rem;
  width: 55%;
}

.social-icon i {
  color: #fff;
  margin-right: 2rem;
  font-size: 2.5rem;
}

/* Showcase Section Styling End */
